.press-bg {
    background-image: url("/assets/images/banner/press.png");
}

.mobile-service-bg {
    background-image: url("/assets/images/service-mad.png");
}

.career-bg {
    background-image: url("/assets/images/banner/career.png");
}

.service-bg {
    // background-image: url("/assets/images/banner/service_main.png");
}

.getting-started-bg {
    background-image: url("/assets/images/banner/getting-started-banner.png");
}

.industry-bg {
    // background-image: url("/assets/images/banner/getting-started-banner.png");
}

.blog-bg {
    // background-image: url("/assets/images/banner/blog-banner.png");
}

.contact-bg {
    background-image: url("/assets/images/banner/contact-banner.png");
}